<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Nations of North America</title>
    
    </head>
    
    <body>
        
        {{#if deleted}}
        
        <h1>Congrats! You deleted a whole country from the face of the Earth! Don't worry: they didn't 
    have very good lives anyway....</h1>
        
    <h2>{{country}} deleted</h2>
    remaining total: {{total}}
    {{else}}
    <h2>{{country}} not found</h2>
        {{/if}}
        
    </body>
</html>